@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*  =>Variáveis<=  */

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', sans-serif;
    --fonte03: 'Sriracha', cursive;
}

/*  =>CSS Geral<=  */

*{
    margin: 0px;
    padding: 0px;
}

/*  =>CSS Geral<=  */

/*  =>HTML e Body<=  */

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}

/*  =>HTML e Body<=  */

/*  =>Header<=  */

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    font-family: var(--fonte02);
    font-size: 10vw;
    font-weight: bolder;
    padding-top : 50px;
    font-variant: small-caps;
}
header>p{
    font-family: var(--fonte01), Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

/*  =>Header<=  */

/*  =>Section<=  */

section{
    font-family: var(--fonte03), cursive;
    font-size: 4.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

.normal{
    background-color: white;
}

.imagem{
    background-attachment: fixed;
    background-size: cover;
    background-position: center right;
    color: white;

}

#imagem01{
    background-image: url(../imagens/background001.jpg);
}

#imagem02{
    background-image: url(../imagens/background002.jpg);
}

.imagem>p{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.603) 3px 3px 3px;
    display: inline-block;
    padding: 5px;
    -webkit-text-stroke: black 0.5px;
}
/*  =>Section<=  */

/*  =>Footer<=  */

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}

/*  =>Footer<=  */

/*  =>Elementos<=  */

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}


