@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&family=Passion+One&display=swap');

body{
    margin: 0%;
    height: 95vh;
}
header{
    background-color: black;
    height: 265px;
    width: 100%;
}
article{
    margin: auto;
    width: auto;
}
h1{
    color: white;
    font-family: 'Passion One', sans-serif;
    font-size: 7em;
    font-weight: lighter;
    margin: auto;
    width: auto;
}
main{

}
footer{

}